/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  color: #fff;
  background-color: #5522e8;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #692be9 1px, transparent 1px),
    linear-gradient(to bottom, #692be9 1px, transparent 1px);
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.carousel-inner {
  overflow: visible;
}

button:disabled,
button[disabled] {
  cursor: unset !important;
  opacity: 0.8;
}
