/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  color: #fff;
  background-color: #5522e8;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}
