<div class="post-list-list__container">
  <div class="posts-list-list">
    <div class="posts-list-list__wrapper">
      <div 
        class="posts-list-list__post" 
        *ngFor="let post of dividedPosts[currentIndex]"
      >
        <div class="posts-list-list__post-content">
          <div class="posts-list-list__post-content-topic">
            <fa-icon 
              *ngIf="post.id % 5 === 1"
              [icon]="faCode"
            ></fa-icon>
            <fa-icon 
              *ngIf="post.id % 5 === 2"
              [icon]="faLocationArrow"
            ></fa-icon>
            <fa-icon 
              *ngIf="post.id % 5 === 3"
              [icon]="faMapMarkerAlt"
            ></fa-icon>
            <fa-icon 
              *ngIf="post.id % 5 === 4"
              [icon]="faHeart"
            ></fa-icon>
            <fa-icon 
              *ngIf="post.id % 5 === 0"
              [icon]="faDollarSign"
            ></fa-icon>
          </div>
          <div class="posts-list-list__post-content-title">
            {{ post.title }}
          </div>
          <div class="posts-list-list__post-content-body">
            {{ post.body }}
          </div>
          <div class="posts-list-list__post-content-preview" (click)="onSelect(post.id)">
            <p class="posts-list-list__post-content-link">Zobacz</p>
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="post-list-list__page-counter">
  <div 
    class="post-list-list__page-counter-arrow" 
    [ngClass]="{'post-list-list__page-counter-arrow--disabled': currentIndex === 0}"
  >
    <fa-icon [icon]="faArrowLeft" (click)="prev()"></fa-icon>
  </div>
  <div class="post-list-list__page-counter-side-number">
    <div class="post-list-list__page-counter-side-number-current">
      {{ currentIndex + 1 >= 10? '': 0 }}{{ currentIndex + 1 }}&nbsp;
    </div>
    <div class="post-list-list__page-counter-side-number-all">
      / {{ dividedPosts.length >= 10? '': 0 }}{{ dividedPosts.length }}
    </div>
  </div>
  <div 
    class="post-list-list__page-counter-arrow"
    [ngClass]="{'post-list-list__page-counter-arrow--disabled': currentIndex === dividedPosts.length-1}"
  >
    <fa-icon [icon]="faArrowRight" (click)="next()"></fa-icon>
  </div>
</div>