:host {
  height: 100%;
}

.post-list-list__container {
  display: flex;
  justify-content: center;
}

.posts-list-list {
  width: 90%;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    background-color: rgba(113, 34, 232, 0.856);
    border-left: 1px solid rgba(250, 250, 250, 0.25);
    border-right: 1px solid rgba(250, 250, 250, 0.25);
    width: 80%;
    position: absolute;
    left: 50%;
    top: -100px;
    height: calc(100% + 100px);
    transform: translateX(-50%);
  }
}

.posts-list-list__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0px;
  min-height: 100vh;
}

.posts-list-list__post {
  width: 50%;
}

.posts-list-list__post-content {
  color: #041c26;
  margin: 30px 15px;
  min-height: 550px;
  max-height: 550px;
  background-color: #fff;
  box-shadow: 0px 36px 48px rgba(13, 4, 35, 0.5);
  border-radius: 8px;
  transition: 0.7s;
  display: flex;
  flex-direction: column;

  &:hover {
    min-height: 600px;
  }
}

.posts-list-list__post-content-topic {
  width: 96px;
  min-height: 96px;
  border-radius: 50%;
  margin: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(91.62deg, #c8ff46 31.18%, #97ff46 100%);
}

.posts-list-list__post-content-title {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 48px;
  padding: 20px 15px 40px 35px;
  max-height: 200px;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #041c26 160px,
    transparent 182px
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.posts-list-list__post-content-body {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0px 15px 0px 35px;
  flex-grow: 1;
  overflow: hidden;
}

.posts-list-list__post-content-preview {
  background: linear-gradient(91.62deg, #c8ff46 31.18%, #97ff46 100%);
  border-radius: 0px 0px 8px 8px;
  margin-top: auto;
  padding: 20px 25px 20px 35px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &::before {
    position: absolute;
    bottom: 76px;
    height: 100px;
    width: 100%;
    left: 0;
    content: "";
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0) 90%
    );
    display: flex;
    align-items: flex-end;
    pointer-events: none; /* so the text is still selectable */
  }
}

.posts-list-list__post-content-link {
  text-decoration: underline;
  font-weight: 700;
}

.post-list-list__page-counter {
  position: fixed;
  top: 35px;
  right: 35px;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: baseline;
}

.post-list-list__page-counter-arrow {
  font-size: 32px;
  cursor: pointer;
}

.post-list-list__page-counter-side-number {
  padding: 0px 20px;
  display: flex;
  align-items: baseline;
}

.post-list-list__page-counter-side-number-current {
  font-size: 64px;
  color: #c8ff46;
  font-weight: 600;
}

.post-list-list__page-counter-side-number-all {
  font-size: 32px;
  font-weight: 300;
}

.post-list-list__page-counter-arrow--disabled {
  cursor: unset;
  opacity: 0.3;
}
