@import "./styles.scss";

:host {
  height: 100%;
}

.post-list-list__container {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $smartphone-width) {
    padding-bottom: 150px;
  }
}

.posts-list-list {
  width: 90%;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    background-color: $color-tertiary;
    border-left: 1px solid $color-grey;
    border-right: 1px solid $color-grey;
    width: 80%;
    position: absolute;
    left: 50%;
    top: -100px;
    height: calc(100% + 100px);
    transform: translateX(-50%);
  }
}

.posts-list-list__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0px;
  min-height: 100vh;
}

.posts-list-list__post {
  width: 50%;

  @media only screen and (max-width: $smartphone-width) {
    width: 100%;
  }
}

.posts-list-list__post-content {
  color: $color-light-black;
  margin: 30px 15px;
  min-height: 550px;
  max-height: 550px;
  background-color: $color-white;
  box-shadow: $shadow-post;
  border-radius: 8px;
  transition: 0.7s;
  display: flex;
  flex-direction: column;

  &:hover {
    min-height: 600px;
  }

  @media only screen and (max-width: $smartphone-width) {
    min-height: 450px;
    max-height: 450px;
    margin: 20px 15px;

    &:hover {
      min-height: 450px;
    }
  }
}

.posts-list-list__post-content-topic {
  width: 96px;
  min-height: 96px;
  border-radius: 50%;
  margin: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    91.62deg,
    $color-primary 31.18%,
    $color-secondary 100%
  );

  @media only screen and (max-width: $smartphone-width) {
    width: 75px;
    min-height: 75px;
    font-size: 30px;
  }
}

.posts-list-list__post-content-title {
  font-size: 40px;
  font-family: $font-family-primary;
  font-weight: 300;
  line-height: 48px;
  padding: 20px 15px 40px 35px;
  max-height: 200px;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    $color-light-black 160px,
    transparent 182px
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (max-width: $smartphone-width) {
    font-size: 25px;
    line-height: 30px;
    padding: 5px 35px 25px 35px;
  }
}

.posts-list-list__post-content-body {
  font-size: 20px;
  font-family: $font-family-secondary;
  font-weight: 400;
  padding: 0px 15px 0px 35px;
  flex-grow: 1;
  overflow: hidden;

  @media only screen and (max-width: $smartphone-width) {
    font-size: 15px;
    line-height: 22px;
    padding: 0px 35px 0px 35px;
  }
}

.posts-list-list__post-content-preview {
  background: linear-gradient(
    91.62deg,
    $color-primary 31.18%,
    $color-secondary 100%
  );
  border-radius: 0px 0px 8px 8px;
  margin-top: auto;
  padding: 20px 25px 20px 35px;
  font-size: 24px;
  font-family: $font-family-secondary;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &::before {
    position: absolute;
    bottom: 69px;
    height: 100px;
    width: 100%;
    left: 0;
    content: "";
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0) 90%
    );
    display: flex;
    align-items: flex-end;
    pointer-events: none; /* so the text is still selectable */
  }

  @media only screen and (max-width: $smartphone-width) {
    font-size: 20px;
  }
}

.posts-list-list__post-content-link {
  text-decoration: underline;
  font-weight: 700;
}

.post-list-list__page-counter {
  position: fixed;
  top: 35px;
  right: 35px;
  font-family: $font-family-primary;
  display: flex;
  align-items: baseline;

  @media only screen and (max-width: $smartphone-width) {
    top: unset;
    bottom: 90px;
    z-index: 2;
  }
}

.post-list-list__page-counter-arrow {
  font-size: 32px;
  cursor: pointer;

  @media only screen and (max-width: $smartphone-width) {
    font-size: 25px;
  }
}

.post-list-list__page-counter-side-number {
  padding: 0px 20px;
  display: flex;
  align-items: baseline;
}

.post-list-list__page-counter-side-number-current {
  font-size: 64px;
  color: $color-primary;
  font-weight: 600;

  @media only screen and (max-width: $smartphone-width) {
    font-size: 28px;
  }
}

.post-list-list__page-counter-side-number-all {
  font-size: 32px;
  font-weight: 300;

  @media only screen and (max-width: $smartphone-width) {
    font-size: 16px;
  }
}

.post-list-list__page-counter-arrow--disabled {
  cursor: unset;
  opacity: 0.3;
}
