:host {
  width: 56%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Opera */
  }
}
