<div class="right-column">
  <div class="right-column__page-counter">
    <div class="right-column__page-counter-arrow">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </div>
    <div class="right-column__page-counter-side-number">
      <div class="right-column__page-counter-side-number-current">01&nbsp;</div>
      <div class="right-column__page-counter-side-number-all">/ 06</div>
    </div>
    <div class="right-column__page-counter-arrow">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>
  </div>
</div>