<div class="post-single__container">
  <div class="posts-single">
    <div class="posts-single__wrapper">
      <div class="posts-single__post"
        *ngIf="posts$ | async as post"
      >
        <div class="posts-single__post-top">
          <i class="material-icons close-icon" (click)="goBack()">close</i>
          <fa-icon class="posts-single__post-top-topic"
            *ngIf="post.id % 5 === 1"
            [icon]="faCode"
          ></fa-icon>
          <fa-icon class="posts-single__post-top-topic"
            *ngIf="post.id % 5 === 2"
            [icon]="faLocationArrow"
          ></fa-icon>
          <fa-icon class="posts-single__post-top-topic"
            *ngIf="post.id % 5 === 3"
            [icon]="faMapMarkerAlt"
          ></fa-icon>
          <fa-icon class="posts-single__post-top-topic"
            *ngIf="post.id % 5 === 4"
            [icon]="faHeart"
          ></fa-icon>
          <fa-icon class="posts-single__post-top-topic"
            *ngIf="post.id % 5 === 0"
            [icon]="faDollarSign"
          ></fa-icon>
        </div>
        <div class="posts-single__post-content">
          <div class="posts-single__post-content-title">
            {{ post.title }}
          </div>
          <div class="posts-single__post-content-body">
            {{ post.body }}
          </div>
        </div>
        <div class="posts-single__post-comments" *ngIf="comments$ | async as comments">
          <app-post-single-comments
            *ngIf="!isPosting"
            [comments]="comments"
            [(onPosting)]="isPosting"
          >
          </app-post-single-comments>
          <app-post-single-comments
            *ngIf="isPosting"
            [comments]="comments"
            [(onPosting)]="isPosting"
          >
          </app-post-single-comments>
        </div>
      </div>
    </div>
  </div>
</div>