.posts-single__comments-separator-comments {
  height: 25px;
  background-color: #c8ff46;
  position: relative;

  &::after {
    content: "Comments";
    color: #041c26;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    line-height: 59px;
    font-weight: 600;
    left: 45px;
    bottom: 0;
  }
}

.posts-single__comments-separator-add-comment {
  &::after {
    content: "Add Comment";
  }
}

.posts-single__comments-comments {
  padding: 45px 20px 45px 20px;
}

.posts-single__comments-footer {
  position: relative;
  padding: 0px 45px;
  height: 80px;
  background-color: #c8ff46;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.posts-single__comments-add-comment {
  position: absolute;
  width: 96px;
  min-height: 96px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #041c26;
  right: 35px;
  top: -48px;
  cursor: pointer;
}

.post-single__comments-add-comment-correction {
  cursor: context-menu;
}

.post-single__comments-form {
  padding: 30px 45px 0px 45px;
  background-color: #c8ff46;
  display: flex;
  flex-direction: column;
}

.posts-single__comments-dismiss {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
}

.posts-single__comments-send {
  width: 320px;
  height: 100%;
  background-color: #041c26;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  cursor: pointer;
  border: none;
}

.post-single__comment-form-data-item {
  width: 50%;
  padding: 10px 18px;
  margin-bottom: 20px;
}

.post-single__comment-form-textarea {
  width: 100%;
  height: 265px;
  padding: 20px 18px;
}
