<div *ngIf="!isPosting">
  <div class="posts-single__comments-separator-comments"></div>
  <div class="posts-single__comments-comments">
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
    >
    </app-comment>
  </div>
  <div class="posts-single__comments-footer">
    <fa-icon class="posts-single__comments-add-comment" [icon]="faPlus" (click)="isPosting = true"></fa-icon>
  </div>
</div>
<div *ngIf="isPosting">
  <div class="posts-single__comments-separator-comments posts-single__comments-separator-add-comment"></div>
  <form class="post-single__comments-form" [formGroup]="newCommentForm">
    <input 
      class="post-single__comment-form-data-item"
      nz-input 
      placeholder="User name" 
      nzSize="large"
      formControlName="name"  
    />
    <input
      class="post-single__comment-form-data-item" 
      nz-input 
      placeholder="email"
      nzSize="large" 
      formControlName="email"
    />
    <textarea 
      class="post-single__comment-form-textarea"
      nz-input 
      placeholder="Write your comment here..."
      formControlName="text"
    ></textarea>
  </form>
  <div class="posts-single__comments-footer">
    <div class="posts-single__comments-dismiss" (click)="isPosting = false">
      Odrzuć
    </div>
    <button 
      class="posts-single__comments-send" 
      (click)="onSubmit()" 
      [disabled]="newCommentForm.invalid"
    >
      Wyślij&nbsp;<fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <fa-icon 
    class="posts-single__comments-add-comment post-single__comments-add-comment-correction" 
    [icon]="faComment"
  ></fa-icon>
</div>
