// Brand (colors)
// --------------------------------
$color-primary: #c8ff46;
$color-secondary: #97ff46;
$color-tertiary: rgba(113, 34, 232, 0.856);
$color-background: #5522e8;
$color-light-black: #041c26;
$color-black: rgba(13, 4, 35, 0.5);
$color-white: #ffffff;
$color-grey: rgba(250, 250, 250, 0.25);
